# Python Basics

**Printing Statements**

In [1]:
print("Hello world")
print('Hello World')
#text can be written either in single quotes or double quotes

Hello world
Hello World

In [3]:
print("Hello World today is \n monday")
#\n is used to print in a new line 
print('Hello World today is \t monday')
#\t is used for tab

Hello World today is
 monday
Hello World today is 	 monday

**Variables and Arithmetic**

Variables

In [8]:
#variables are like containers which are ussed to store values, and re-use them in the code
#values are assigned to variables by using the assignment operator "="
my_int = 10
my_float = 10.10
my_name = 'Python'
my_bool = False 
(my_int,my_float,my_name,my_bool)
# We can write variable names at the bottom of our cell to see them print out

(10, 10.1, 'Python', False)

In [13]:
my_name = 'Pallavi'
my_age = 18
my_country = "India"
print("I am "+my_name+", a "+str(my_age)+" old from "+my_country)
#my_age variable contains a number and we cannot concatenate a string and a number.

I am Will, a 25 old from USA

Arithmetic

In [14]:
# With numbers we can add, subtract, multipy and divide
a = 25
b = 5
a_plus_b = a + b
a_minus_b = a - b
a_times_b = a * b
a_divided_by_b = a / b
a_power_b = a**b

a_plus_b, a_minus_b, a_times_b, a_divided_by_b,a_power_b

(30, 20, 125, 5.0, 9765625)

In [15]:
# Grouping things or numbers will help in evaluating using Precedence
calculation_one = (12 - 6) / 2
calculation_two = 12 - (6 / 2)

calculation_one, calculation_two

(3.0, 9.0)

In [16]:
# Altering the value of a variable 
day_of_the_month = 9
day_of_the_month += 1

day_of_the_month
# the variables always store the latest value

10

**Strings**

In [17]:
# We can use the + operator to concatenate strings
my_name = 'Pallavi'
greeting = 'Hello ' + my_name + '!'

greeting

'Hello Pallavi!'

In [22]:
# Put an `f` before your string, then you can include variable names between {curly braces}
# putting a format behind the string will allow to add the value of variable
drink_name = 'coffee'
fun_fact1 = f'My favorite coffee drink is a {drink_name}. It\'s the best!'
fun_fact2 = "I like {name}".format(name= "cofee")

fun_fact1, fun_fact2

("My favorite coffee drink is a coffee. It's the best!", 'I like cofee')

In [24]:
# We can also get the length of a string
oh_the_places_youll_go = 'congratulations today is your day, you\'re off to great places you\'re off and away'

print(len(oh_the_places_youll_go))
# And we can pull out specific letters from the string with [square brackets]

# We start counting from 0, so this will give us our 6th letter
oh_the_places_youll_go[5]

81

'a'

**String Manipulations**


Strings are a special type of a python class. As objects, in a class, you can call methods on string objects using the .methodName() notation. The string class is available by default in python, so you do not need an import statement to use the object interface to strings.

In [27]:
print(my_name.lower())
print(my_name.upper())

pallavi
PALLAVI

In [30]:
a = "0" * 3 
b = 0*3
a,b

('000', 0)

In [34]:
a = "hello world"
a = a.split()
b = ''.join(a)
a,b

(['hello', 'world'], 'helloworld')

**Booleans**

In [26]:
# Booleans are always either True or False

pallavi_in_india = True
i_hate_coffee = False

# We can use `and`, `or`, and `not` to play with our booleans

pallavi_in_india and i_hate_coffee, i_hate_coffee or pallavi_in_india, i_hate_coffee and not pallavi_in_india

(False, True, False)